#footer {
	background: #068bbc;
	.top-footer {
		@media screen and (min-width: 992px) {
			padding: 40px 0 20px;
		}
		color: #fff;
	}
	.footer-column {
		h3 {
			margin-bottom: 10px;
			@media screen and (max-width: 991px) {
				margin: 0;
				padding: 1rem 0;
				border-bottom: 1px solid rgba(255,255,255,.3);
				span {
					float: right;
					position: relative;
					&.next {
						&::before {
							content: "\f105";
							font-family: FontAwesome;
							color: #fff;
							font-size: 20px;
						}
					}
					&.down {
						&::before {
							content: "\f107";
							font-family: FontAwesome;
							color: #fff;
							font-size: 20px;
						}
					}
				}
			}
		}
		.footer-content {
			@media screen and (max-width: 991px) {
				display: none;
			}
		}
		.footer-list {
			li {
				padding: 5px 0;
				font-size: 13px;
				line-height: 1.5;
				text-transform: uppercase;
				a {
					display: block;
					color: #fff;
					transition: 0.2s;
					&:hover {
						color: $yellow;
					}
				}
			}
		}
		p {
			color: #fff;
			margin-bottom: 5px;
			line-height: 1.5;
			font-size: 15px;
		}
		.footer-register {
			font-size: 15px;
			.form-control {
				font-size: 14px;
				border: 0;
				box-shadow: none;
				border-radius: 0;
				color: #fff;
				display: block;
				float: left;
				background: rgba(255,255,255,.4);
				&::placeholder {
					color: #fff;
				}
				&[type="email"] {
					width: 80%;
				}
				&[type="submit"] {
					width: 20%;
					cursor: pointer;
					background: $yellow;
					color: #fff;
				}
			}
		}
	}
	.footer-social {
		margin-top: 10px;
		a {
			display: inline-block;
			text-decoration: none;
			margin-right: 5px;
			transition: 0.3s;
			&:hover {
				opacity: 0.5;
			}
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
	.bottom-footer {
		padding: 15px 0;
	}
}